<!doctype html>
<html>
   <body>
   <center>
      <table border = "1" style="width:500px;height:auto;line-height: normal;color:blueviolet;border: 2px;">
         <thead>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Pincode</th>
         </thead>
         
         {% for row in rows %}
            <tr style="color: blue;text-align: center;">
               <td>{{ row[1]}}</td>
               <td>{{ row[2] }}</td>
               <td>{{ row[3] }}</td>
               <td>{{ row[4]  }}</td>	
            </tr>
         {% endfor %}
      </table>
      </center>
   <h2>  <a href = "/">Go back to home page</a></h2> 
      
   </body>
</html>